---
http_interactions:
- request:
    method: get
    uri: http://api.steampowered.com/ISteamUser/GetFriendList/v0001/?key=<API_KEY>&relationship=friend&steamid=76561197973955570
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\n\t\"friendslist\": {\n\t\t\"friends\": [\n\t\t\t{\n\t\t\t\t\"steamid\":
        \"76561197964282412\",\n\t\t\t\t\"relationship\": \"friend\",\n\t\t\t\t\"friend_since\":
        1357534276\n\t\t\t},\n\t\t\t{\n\t\t\t\t\"steamid\": \"76561197970623174\",\n\t\t\t\t\"relationship\":
        \"friend\",\n\t\t\t\t\"friend_since\": 1357412984\n\t\t\t},\n\t\t\t{\n\t\t\t\t\"steamid\":
        \"76561197972533015\",\n\t\t\t\t\"relationship\": \"friend\",\n\t\t\t\t\"friend_since\":
        1394315163\n\t\t\t},\n\t\t\t{\n\t\t\t\t\"steamid\": \"76561197974442188\",\n\t\t\t\t\"relationship\":
        \"friend\",\n\t\t\t\t\"friend_since\": 1303672762\n\t\t\t},\n\t\t\t{\n\t\t\[...]
