---
http_interactions:
- request:
    method: get
    uri: http://api.steampowered.com/IPlayerService/GetOwnedGames/v0001/?format=json&key=<API_KEY>&steamid=76561197964282412
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Eresult:
      - '1'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\n\t\"response\": {\n\t\t\"game_count\": 220,\n\t\t\"games\": [\n\t\t\t{\n\t\t\t\t\"appid\":
        10,\n\t\t\t\t\"playtime_forever\": 0\n\t\t\t},\n\t\t\t{\n\t\t\t\t\"appid\":
        20,\n\t\t\t\t\"playtime_forever\": 0\n\t\t\t},\n\t\t\t{\n\t\t\t\t\"appid\":
        30,\n\t\t\t\t\"playtime_forever\": 0\n\t\t\t},\n\t\t\t{\n\t\t\t\t\"appid\":
        40,\n\t\t\t\t\"playtime_forever\": 0\n\t\t\t},\n\t\t\t{\n\t\t\t\t\"appid\":
        50,\n\t\t\t\t\"playtime_forever\": 0\n\t\t\t},\n\t\t\t{\n\t\t\t\t\"appid\":
        60,\n\t\t\t\t\"playtime_forever\": 0\n\t\t\t},\n\t\t\t{\n\t\t\t\t\"appid\":
        70,\n\t\t\t\t\"playtime_foreve[...]
[...]
- request:
    method: get
    uri: http://api.steampowered.com/IPlayerService/GetOwnedGames/v0001/?format=json&key=<API_KEY>&steamid=76561198002572492
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Eresult:
      - '15'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\n\t\"response\": {\n\n\t}\n}"
  recorded_at: Sat, 25 Oct 2014 16:00:22 GMT
recorded_with: VCR 2.9.3
