---
http_interactions:
- request:
    method: get
    uri: http://store.steampowered.com/api/appdetails/?appids=8870,224480,265930,285160,219740,35450,236830,301520,241930,107410
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"8870":{"success":true,"data":{"type":"game","name":"BioShock Infinite","steam_appid":"8870","required_age":"17","controller_support":"full","dlc":[214933,"214931","214932","214930","2028850"],"detailed_description":"<h1>Season
        Pass Details<\/h1><p><a target=\"_blank\" href=\"http:\/\/store.steampowered.com\/app\/214933\"  ><img
        src=\"http:\/\/cdn.akamai.steamstatic.com\/steam\/apps\/8870\/extras\/SeasonPassBanner300x600.jpg?t=1399058720\"><\/a>\r<br>\r<br><strong>Get
        three DLC packs at an incredible discount only available to Season Pass holders<\/strong><\/p><br><h1>About
        the Game<\/h1>Indebted to the wrong people, with his life on the line, veteran
        of the U.S. Cavalry and now hired gun, Booker DeWitt has only one opportunity
        to wipe his slate clean. He must rescue Elizabeth, a mysterious girl imprisoned
        since childhood and locked up in the flying city of Columbia. Forced to trust
        one another, Booker and Elizabeth form a powerful bond during their daring
        escape. Together, they learn to harness an expanding arsenal of weapons and
        abilities, as they fight on zeppelins in the clouds, along high-speed Sky-Lines,
        and down in the streets of Columbia, all while surviving the threats of the
        air-city and uncovering its dark secret.<h2 class=\"bb_tag\">Key Features<\/h2>\r<ul
        class=\"bb_ul\"><li>\t<strong>The City in the Sky<\/strong> \u2013 Leave the
        depths of Rapture to soar among the clouds of Columbia. A technological marvel,
        the flying city is a beautiful and vibrant world that holds a very dark secret.
        \r<br><\/li><li>\t<strong>Unlikely Mission<\/strong> \u2013 Set in 1912, hired
        gun Booker DeWitt must rescue a mysterious girl from the sky-city of Columbia
        or never leave it alive. \r<br><\/li><li>\t<strong>Whip, Zip, and Kill<\/strong>
     [...]
- request:
    method: get
    uri: http://store.steampowered.com/api/appdetails/?appids=78000,3540,3590,3620,221910,254440,244090,267530,7670,8850
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"78000":{"success":true,"data":{"type":"game","name":"Bejeweled\u00ae
        3","steam_appid":"78000","required_age":0,"detailed_description":"<p>The biggest,
        brightest Bejeweled ever!<\/p>\r\n\t\t\t\t\t\t<p>Discover all-new ways to
        play the world\u2019s #1 puzzle game. Find your perfect match with 8 breathtaking
        game modes that meet all your moods \u2014 ease into Classic Bejeweled for
        cascades of fun, journey through 40 challenging Quest puzzles, charge into
        the electrifying Lightning for non-stop action, and tailor your experience
        in Zen for a revolutionary new way to relax.<\/p>\r\n\t\t\t\t\t\t<p>Enjoy
        the amazing sights and sounds and engage in endless gem-matching fun, and
        earn flashy achievement badges as you soar to dazzling new heights!<\/p>\r\n\t\t\t\t\t\t<h2>Key
        Features:<\/h2><ul>\r\n\t\t\t\t\t\t<li>8 ways to play: With so many new ways
        to play, you\u2019ll find a perfect match for every mood!\r\n\t\t\t\t\t\t<li>Classic
        mode: Play the most popular puzzle game of the century, with powerful new
        gems and new ultra-smooth gameplay\r\n\t\t\t\t\t\t<li>Quest mode: Journey
        through 40 magical puzzles in this multifaceted Bejeweled challenge!\r\n\t\t\t\t\t\t<li>Zen
        mode: Tailor your experience with sights, sounds and binaural beats to create
        your own relaxing retreat\r\n\t\t\t\t\t\t<li>Lightning mode: Charge up with
        a challenging timed game of heart-pounding, gem-blasting fun!\r\n\t\t\t\t\t\t<li>Secret
        modes: Unlock 4 all-new games as you play\r\n\t\t\t\t\t\t<li>Badges: Earn
        up to 65 badges to prove your multifaceted skills\r\n\t\t\t\t\t\t<li>High-definition
        graphics: Amazing sights and sounds \u2014 Bejeweled is more sparkling than
        ever before!\r\n\t\t\t\t\t\t<li>Ultra-smooth action: Make multiple matches
        while new gems fall into place<\/ul>\r\n\t\t\t\t\t\t","about_the_game":"<p>The
        biggest, brightest Bejeweled ever!<\/p>\r\n\t\t\t\t\t\t<p>Discover all-new
        ways to play the world\u2019s #1 puzzle game. Find your perfect match with
        8 breathtaking game modes that meet all your moods \u2014 ease into Classic
        Bejeweled for cascades of fun, journey through 40 challenging Quest puzzles,
        charge into the electrifying Lightning for non-stop action, and tailor your
        experience in Zen for a revolutionary new way to relax.<\/p>\r\n\[...]
[...]
- request:
    method: get
    uri: http://store.steampowered.com/api/appdetails/?appids=242110,201420,237530,214770,247370,244070,239030,242550,231040,218620
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"242110":{"success":true,"data":{"type":"game","name":"Joe Danger
        2: The Movie","steam_appid":"242110","required_age":0,"controller_support":"full","dlc":["242120"],"detailed_description":"<h1>Bonus
        Content<\/h1><p><img src=\"http:\/\/cdn.akamai.steamstatic.com\/steam\/apps\/242110\/extras\/game_page_banner.png?t=1410804771\">\r<br>\r<br>Build
        and share Minecraft levels and race as one of the nine characters from Team
        Fortress 2!<\/p><br><h1>Featured DLC<\/h1><p><img src=\"http:\/\/cdn.akamai.steamstatic.com\/steam\/apps\/242110\/extras\/game_page_banner_Horror.png?t=1410804771\">\r<br>\r<br>15
        spooky new levels across three new environments, and six ghoulish new characters!
        <a t[...]
[...]
