---
http_interactions:
- request:
    method: get
    uri: http://api.steampowered.com/IPlayerService/GetOwnedGames/v0001/?format=json&key=<API_KEY>&steamid=76561197995163285
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Eresult:
      - '1'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\n\t\"response\": {\n\t\t\"game_count\": 215,\n\t\t\"games\": [\n\t\t\t{\n\t\t\t\t\"appid\":
        3920,\n\t\t\t\t\"playtime_forever\": 0\n\t\t\t},\n\t\t\t{\n\t\t\t\t\"appid\":
        240,\n\t\t\t\t\"playtime_forever\": 55\n\t\t\t},\n\t\t\t{\n\t\t\t\t\"appid\":
        4000,\n\t\t\t\t\"playtime_forever\": 0\n\t\t\t},\n\t\t\t{\n\t\t\t\t\"appid\":
        2620,\n\t\t\t\t\"playtime_forever\": 46\n\t\t\t},\n\t\t\t{\n\t\t\t\t\"appid\":
        2630,\n\t\t\t\t\"playtime_forever\": 11\n\t\t\t},\n\t\t\t{\n\t\t\t\t\"appid\":
        2640,\n\t\t\t\t\"playtime_forever\": 0\n\t\t\t},\n\t\t\t{\n\t\t\t\t\"appid\":
        320,\n\t\t\t\t\"pl[...]
