<%= form_tag("/main", method: 'post', :id => "id1") do %>
<!-- 	<%= label_tag(:user, "Steam ID") %> -->
	<%= text_field_tag :user, nil, :placeholder => "Paste a link to your Steam profile", :size => "35 X 10" %>
	<%= submit_tag("Submit") %>
<% end %>
<div id='profile_suggestion'>
	<a href='steam://url/SteamIDControlPage'>Look up your profile id (opens steam profile page - link at top)</a>
</div>
