

<div class="row main-content">
<p class="text loading-text" style="text-align: center; font-size:8rem;"><%=@loading_text%></p>
<p class="text" style="text-align: center; font-size:2rem;">This may take a few minutes. Please don't refresh the page.</p>
</div>

<script type="text/javascript">
	$(document).ready(function() {
		localStorage.setItem("steam_id", "<%=@user_id%>");
	    var pusher = new Pusher('e919433fb0319a339cd7', {
	      encrypted: true
	    });

	    var channel = pusher.subscribe('steam_buddy_<%=@user_id%>');
	    channel.bind('games', function(data) {
	      window.location.replace(window.location.origin + "/filters/" + data.id);
	    });
	    channel.bind('filter', function(data) {
	      if (!data.game_id) {
	      	alert('No games found with these filters!');
	      	window.location.replace(window.location.origin + "/filters/" + data.id);
	      } else {
	      	window.location.replace(window.location.origin + "/result/" + data.game_id + "/" + data.id);
	      }
	    });

	   	channel.bind('error', function(data) {
	      alert(data.message);
	      window.location = window.location.origin;
	    });

	    var count = 0;
	    var origText = $('.loading-text').text();
	    setInterval(function() {
	    	var str = '';
	    	var mod = count % 4;
	    	for (var i = 0; i < mod; i++) {
	    		str += '.'
	    	}
	    	count++;
	    	$('.loading-text').text(origText + str);
	    }, 1000);
	});
</script>