<div class="modal fade" id="myModalMain" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Steam Buddy</h4>
      </div>
      <div class="modal-body">
        <h3>What was life like before SteamBuddy?</h3>
        <ol>
                <li>Look at all of the unplayed games in your steam library</li>
                <li>Resolve to play a new game</li>
                <li>Become overwhelmed by the sheer number of choices</li>
                <li>Play Counter-Strike</li>
                <li>Repeat above steps</li>
        </ol>
        <h3>How Steam Buddy works</h3>
        <ol>
                <li>Put in the link to your Steam profile page</li>
                <li>Select appropriate filters</li>
                <li>Destroy indecision with the click of a button and get ONE game recommendation based on your criteria!</li>
        </ol>

        <h3>About Steam Buddy</h3>
        <p>In no way, shape, or form is this site affiliated with Valve or its partners</p>
        <p>For bug reports or suggestions on how to make this site better, please email us at steambuddy@yahoo.com</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<div class="row main-content">
<p class="text loading-text" style="text-align: center; font-size:8rem;"><%=@loading_text%></p>
<p class="text" style="text-align: center; font-size:2rem;">This may take a few minutes. Please don't refresh the page.</p>
</div>

<script type="text/javascript">
	$(document).ready(function() {
		localStorage.setItem("steam_id", "<%=@user_id%>");
	    var pusher = new Pusher('e919433fb0319a339cd7', {
	      encrypted: true
	    });

	    var channel = pusher.subscribe('steam_buddy_<%=@user_id%>');
	    channel.bind('games', function(data) {
	      window.location.replace(window.location.origin + "/filters/" + data.id);
	    });
	    channel.bind('filter', function(data) {
	      if (!data.game_id) {
	      	alert('No games found with these filters!');
	      	window.location.replace(window.location.origin + "/filters/" + data.id);
	      } else {
	      	window.location.replace(window.location.origin + "/result/" + data.game_id + "/" + data.id);
	      }
	    });

	   	channel.bind('error', function(data) {
	      alert(data.message);
	      window.location = window.location.origin;
	    });

	    var count = 0;
	    var origText = $('.loading-text').text();
	    setInterval(function() {
	    	var str = '';
	    	var mod = count % 4;
	    	for (var i = 0; i < mod; i++) {
	    		str += '.'
	    	}
	    	count++;
	    	$('.loading-text').text(origText + str);
	    }, 1000);
	});
</script>