<script>
localStorage.setItem("steam_id", "<%=@user_id%>")
</script>

<div class="row main-content">
<p class="text loading-text" style="text-align: center; font-size:8rem;">Loading your games</p>
<p class="text" style="text-align: center; font-size:2rem;">This may take a few minutes. Please don't refresh the page.</p>
</div>

<script type="text/javascript">
	$(document).ready(function() {
	    Pusher.log = function(message) {
	      if (window.console && window.console.log) {
	        window.console.log(message);
	      }
	    };

	    var pusher = new Pusher('e919433fb0319a339cd7', {
	      encrypted: true
	    });

	    var channel = pusher.subscribe('steam_buddy');
	    channel.bind('games', function(data) {
	      //window.location = window.location.origin + "/filters/" + data.id
	    });

	    var count = 0;
	    var origText = $('.loading-text').text();
	    setInterval(function() {
	    	var str = '';
	    	var mod = count % 4;
	    	for (var i = 0; i < mod; i++) {
	    		str += '.'
	    	}
	    	count++;
	    	$('.loading-text').text(origText + str);
	    }, 1000);
	});
</script>