/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import url(http://fonts.googleapis.com/css?family=Oswald);

* {
	font-family: 'Oswald', sans-serif;
}

html { 
  background: linear-gradient(
      rgba(0, 0, 0, 0.55), 
      rgba(0, 0, 0, 0.55)
    ), url(gamelayoutdesign.jpg) no-repeat center center fixed; 
  background-size: cover;
}

body {
	background-color: transparent;
}

html, body, .container {
	height: 100%;
	width: 100%;
}

.home-form {
	height: 100%;
}

.checkbox {
	margin-left: 2em;
}

.text {
	color: white;
}