.filter-form-container {
	margin-left: 36%;
	font-size: 1.2em;
}

#filter {
	margin-right: 2em;
}

.genre-label, .friend-label, .filter-error {
	margin-left: 1em;
}

.filter-submit  {
	margin-left: 1em;
	margin-bottom: 1em;
}

.filter-error {
	color: red
}