.filter-form-container {
	font-size: 1.2em;
}

#filter {
	margin-right: 2em;
}

.genre-label, .friend-label, .filter-error, .category-label {
	margin-left: 1em;
}

.filter-submit  {
	margin-left: 6em;
}

.filter-error {
	color: red;
}

.metacritic-field {
	margin-left: .4em;
}

.filter-page-container {
	text-align: center;
}

.main-filter {
	margin: 0;
	text-align: left;
	display: inline-block;
}

.filter-form-tag {
	margin: 1em 1em 1em 0;
}