<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Steam Buddy</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="https://js.pusher.com/3.0/pusher.min.js"></script>
</head>
<body>
<div class="container">
<a class="about-sb" data-toggle="modal" data-target="#myModalMain">
  What is Steam Buddy?
</a>
  <p class="valve text">This site is in no way affiliated with Valve.</p>
  <div class="col-md-3 aside"></div>
  <div class="col-md-6"><%= yield %></div>
  <div class="col-md-3 aside"></div>
</body>
</html>
