<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Steam Buddy</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="https://js.pusher.com/3.0/pusher.min.js"></script>
</head>
<body>
<div class="container">
<a class="about-sb" data-toggle="modal" data-target="#myModalMain">
  What is Steam Buddy?
</a>
<div class="modal fade" id="myModalMain" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Steam Buddy</h4>
      </div>
      <div class="modal-body">
        <h3>What was life like before SteamBuddy?</h3>
        <ol>
                <li>Look at all of the unplayed games in your steam library</li>
                <li>Resolve to play a new game</li>
                <li>Become overwhelmed by the sheer number of choices</li>
                <li>Play Counter-Strike</li>
                <li>Repeat above steps</li>
        </ol>
        <h3>How Steam Buddy works</h3>
        <ol>
                <li>Put in the link to your Steam profile page</li>
                <li>Select appropriate filters</li>
                <li>Destroy indecision with the click of a button and get ONE game recommendation based on your criteria!</li>
        </ol>

        <h3>About Steam Buddy</h3>
        <p>In no way, shape, or form is this site affiliated with Valve or its partners</p>
        <p>For bug reports or suggestions on how to make this site better, please email us at steambuddy@yahoo.com</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
  <p class="valve text">This site is in no way affiliated with Valve.</p>
  <div class="col-md-3 aside"></div>
  <div class="col-md-6"><%= yield %></div>
  <div class="col-md-3 aside"></div>
</body>
</html>
